/* === UI/UX Projects Grid Page === */

.project-grid {
  padding: 60px 20px;
  max-width: 1400px;
  margin: auto;
  background-color: #fff;
}

.grid-title {
  font-size: 54px;
  margin-bottom: 40px;
  color: #000;
  text-align: left;
  padding-left: 10px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid-card {
  background: #f6f6f6;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-decoration: none;
  color: #000;
}

.grid-card img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.grid-card h3 {
  font-size: 20px;
  padding: 16px;
  color: #111;
}

/* Hover effect */
.grid-card:hover {
  transform: scale(1.03);
}

/* === Responsive === */
@media (max-width: 992px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-title {
    font-size: 42px;
    text-align: center;
  }

  .grid-card h3 {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }

  .grid-title {
    font-size: 36px;
    text-align: center;
  }

  .grid-card h3 {
    font-size: 18px;
  }
}

@media (max-width: 393px) {
  .grid-title {
    font-size: 30px;
  }

  .grid-card h3 {
    font-size: 16px;
  }
}



/* Project navigation */
.project-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  /* background-color: #fffef9; */
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: #111;
  transition: transform 0.3s ease, color 0.3s ease;
  max-width: 45%;
}

.nav-link:hover {
  transform: translateY(-4px);
  color: #cc0000;
}

#right {
  text-align: right;
}


.nav-label {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}

.nav-title {
  font-size: 20px;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 700px) {
  .project-navigation {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .nav-link {
    max-width: 100%;
  }

#right {
  text-align: center;
}
}






/* tilte */
.page-hero {
  padding: 100px 20px   0px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.page-hero::before {
  content: '';
  width: 6px;
  height: 6px;
  /* background: #00aa47; */
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-content .faded {
  color: #cc0000;
  font-weight: 500;
}

.hero-content h1 {
  padding-top: 20px;
  font-size: 54px;
  color: #111;
  line-height: 1.2;
}

.hero-content .highlight {
  font-weight: bold;
}

@media (max-width: 700px) {
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content .breadcrumb {
    font-size: 13px;
  }
}

@media (max-width: 393px) {
  .hero-content h1 {
    font-size: 32px;
  }
  .page-hero::before {
    top: 20px;
  }
}